@import url(./fonts/fonts.css);
@import url(https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css);

@media (prefers-color-scheme: light) {
    :root {
        --bulma-family-primary: "BIZ UDPGothic", "Web BIZ UDPGothic", "MS PGothic", sans-serif;
        --bulma-family-secondary: "BIZ UDPGothic", "Web BIZ UDPGothic", "MS PGothic", sans-serif;
        --bulma-family-code: "BIZ UDGothic", "Web BIZ UDGothic", "MS Gothic", monospace;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bulma-family-primary: "BIZ UDPGothic", "Web BIZ UDPGothic", "MS PGothic", sans-serif;
        --bulma-family-secondary: "BIZ UDPGothic", "Web BIZ UDPGothic", "MS PGothic", sans-serif;
        --bulma-family-code: "BIZ UDGothic", "Web BIZ UDGothic", "MS Gothic", monospace;
    }
}
